@use '../resources/breakpoint.scss' as breakpoint;
@use '../resources/color.scss' as color;

.drawer-content {
  min-width: breakpoint.$xxs;

  ul {
    li {
      display: flex;
      justify-content: center;

      a, a:visited {
        color: color.$text;
        display: inline-block;
        font-weight: 600;
        // font-size: 20px;
        margin: auto 0;
        padding: 1rem 0;
        text-align: center;
        text-decoration: none;
        transition: color 0.3s ease;
        width: 100%;

        &.icon-link {
          display: inline-block;
          
          span {
            display: inline-block;
            vertical-align: bottom;
          }

          svg {
            height: 22px;
            width: 22px;
            vertical-align: middle;
          }
        }

        &:hover {
          background-color: color.$hookers-green;
          color: color.$seasalt;
        }
      }

      button {
        margin-top: 0.5rem;
      }
    }

    li + li {
      border-top: 1px solid color.$dun;
    }
  }
}

.drawer-btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}