@use "../resources/breakpoint.scss" as breakpoint;
@use "../resources/color.scss" as color;
@use "../resources/global-styles.scss" as globals;

nav {
  background-color: globals.$site-main-bg;
  color: globals.$site-text;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: breakpoint.$main-width;
}

// nav {
//   background-color: globals.$nav-bg;
//   color: globals.$nav-text;
//   display: flex;
//   justify-content: space-between;
//   margin: 0 auto;
//   max-width: breakpoint.$main-width;
//   height: 46px;

//   a, a:visited {
//     color: globals.$nav-text;
//     display: inline-block;
//     font-weight: 600;
//     line-height: 28px;
//     padding: 0.5rem 1rem;
//     text-decoration: none;

//     svg {
//       height: 28px;
//       width: 28px;
//       vertical-align: middle;
//     }

//     &:hover {
//       background-color: globals.$site-main-bg;
//       color: globals.$button-bg;
//     }
//   }

//   button {
//     border-radius: 0;

//     &:hover {
//       background-color: globals.$site-main-bg;
//       color: globals.$button-bg;
//     }
//   }

//   div {
//     width: 33.33%;
//   }

//   h1 {
//     color: globals.$site-main-bg;
//     margin-top: 0.5rem;
//   }

//   .nav-links {
//     display: flex;
//     justify-content: flex-end;
//   }

//   #site-logo {
//     display: flex;
//     justify-content: center;
//   }
// }

// .nav-links-container {
//   display: flex;
//   flex-direction: row-reverse;
//   margin-right: 2rem;
// }