@use "../_resources/color";

button {
  background-color: color.$main-bg;
  border: 1px solid color.$main-bg;
  border-radius: 4px;
  color: color.$button-text;

  &:hover {
    background-color: color.$button-hover-bg;
    border-color: color.$button-hover-border;
    border-radius: 4px;
    color: color.$button-hover-text;
    cursor: pointer;
    margin: auto 0;
  }
}

.submit-button {
  background-color: color.$submit-btn-bg;
  border: 1px solid color.$submit-btn-border;
  color: color.$submit-btn-text;
  width: 85%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}