// Resources
@use './resources/breakpoint.scss';
@use './resources/color.scss';
@use './resources/global-styles.scss';

// Components
@forward './components/button.scss';
@forward './components/drawer.scss';
@forward './components/navigation.scss';

// Global styles
body {
  background-color: global-styles.$site-bg;
  color: global-styles.$site-text;
  font-family: 'Geist Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: global-styles.$site-link;
  transition: color 0.3s ease;

  &:hover {
    color: global-styles.$site-link-hover;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: global-styles.$header-color;
  margin: 0;
}

main {
  background-color: global-styles.$site-main-bg;
  min-height: 100vh;
  padding: 2rem;
  max-width: breakpoint.$main-width;
  margin: 0 auto;
}

nav {
  background-color: global-styles.$nav-bg;
  color: global-styles.$nav-text;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: breakpoint.$main-width;
  padding: 0 2rem;
}

footer {
  background-color: global-styles.$footer-bg;
  color: global-styles.$footer-text;
  max-width: breakpoint.$main-width;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}