@use './breakpoint.scss';
@use './color.scss';

$site-bg: color.$dun;
$site-main-bg: color.$seasalt;
$site-text: color.$text;
$site-link: color.$prussian-blue;
$site-link-hover: color.$hookers-green;

$nav-bg: color.$primary;
$nav-text: color.$seasalt;